@model IEnumerable<Event.Models.Item>

@{
    ViewData["Title"] = "Items";
}

<h2>Items</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerUserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PointValue)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointValue)
            </td>
            <td>
                @Html.ActionLink("Exchange", "Exchange", new {  id=item.Id }) |                
            </td>
        </tr>
}
    </tbody>
</table>
